@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f8f9f9;

    .container {
        width: 980px;
        margin: 0 auto;
    }
}

.header {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #eb5a1e;

    .header-logo {
        display: flex;
        font-family: 'Merriweather', serif;
        font-size: 20px;
        color: #fff;
        img {
            position: relative;
            top: 4px;
            left: -1px;
        }
    }

    .basket {
        span {
            font-size: 18px;
            color: #fff;
            font-family: 'Merriweather', serif;
            position: relative;
            top: -10px;
            left: 0;
        }
    }
    .basket:hover {
        cursor: pointer;
    }

    .fixed-overlay {
        transform: translateX(-100%);
        transition: 0.6s all;
        position: fixed;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        .modal {
            position: absolute;
            left: 44%;
            top: 20%;
            margin-left: -100px;
            margin-top: -75px;
            border-radius: 30px;

            background-color: #fff;

            .modal_container {
                position: relative;
                padding: 20px 20px;
                width: 400px;
                height: 100%;

                .close-popup {
                    position: absolute;

                    top: 5px;
                    right: 20px;
                    // padding: 0px 3px;
                    font-size: 30px;
                    color: #000;

                    // border-radius: 30px;
                }
                .close-popup:hover {
                    cursor: pointer;
                    color: red;
                    font-size: 30px;
                    transition: 0.5s all;
                }

                .modal-info {
                    position: relative;
                    background-color: #e2e3e5;
                    padding: 10px 20px;
                    color: #383d41;
                    border-radius: 5px;
                    border: 1px solid #e2e3e5;
                    margin-top: 15px;
                }
                .modal-info::after {
                    content: '';
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    background-color: #e2e3e5;
                    width: 100%;
                    height: 1px;
                }

                .total {
                    position: relative;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    .delivery {
                        padding-bottom: 10px;
                        font-size: 1.25rem;
                        color: #000;
                        span {
                            color: #0ea107;
                            span {
                                color: red;
                            }
                        }
                    }
                    .total-sum {
                        font-size: 1.25rem;
                        color: #000;
                        .res {
                            color: red;
                        }
                    }
                }
                .total::after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    background-color: #e2e3e5;
                    width: 100%;
                    height: 1px;
                }

                .contacts {
                    padding-top: 10px;
                    .contacts-desr {
                        padding-bottom: 15px;
                        font-family: 'Merriweather', serif;
                        font-weight: 600;
                        font-size: 17px;
                    }
                    .inp {
                        width: 308px;
                        font-size: 16px;
                        padding: 12px 12px;
                        background-color: #fff;
                        border: 1px solid #e2e3e5;
                        border-radius: 5px;
                    }
                    .contacts-btn {
                        margin-top: 15px;
                        width: 100px;
                        background-color: #007bff;
                        border: 1px solid #007bff;
                        border-radius: 5px;
                        color: #fff;
                        padding: 8px 16px;
                    }
                    .contacts-btn:hover {
                        background-color: #479df8;
                        cursor: pointer;
                        transition: 0.5s all;
                    }
                }

                .basket-product {
                    padding-top: 30px;

                    display: flex;
                    justify-content: space-around;
                    .basket-info {
                        // padding-top: 40px;
                        // padding-bottom: 40px;
                        .basket-title {
                            font-family: 'Merriweather', serif;
                            color: #000;
                            font-weight: 400;
                            font-size: 14px;
                        }
                        .basket-price {
                            color: #000;
                            font-weight: 600;
                            font-size: 20px;
                        }
                        .basket-amount {
                            color: #000;
                            font-weight: 600;
                            font-size: 20px;
                            padding-bottom: 10px;
                        }
                        .basket-btn {
                            width: 90px;
                            height: 20px;
                            background-color: #fff;
                            border: 1px solid #eb5a1e;
                            border-radius: 5px;
                            color: #eb5a1e;
                        }
                        .basket-btn:hover {
                            cursor: pointer;
                            transition: 0.5s all;
                            border: 1px solid #eb5a1e;
                            color: #fff;
                            background-color: #eb5a1e;
                        }
                    }
                }
            }
        }
    }
    .fixed-overlay.active {
        transition: 0.6s all;
        transform: translateX(0);
    }
}

.intro-wd {
    width: 500px;
    margin: 0 auto;
    .intro {
        padding-top: 120px;
        padding-bottom: 90px;
        text-align: center;

        .intro-logo {
            width: 82px;
            height: 82px;
        }

        .intro-tilte {
            font-family: 'Merriweather', serif;
            font-weight: 300;
            letter-spacing: 0.7px;
            font-size: 30px;
        }
        .intro-desr {
            position: relative;
            padding-top: 8px;
            font-size: 18px;
            font-family: 'Merriweather', serif;
            letter-spacing: 1px;
        }
    }
}

.menu {
    padding-bottom: 100px;
    .products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        .product-item {
            position: relative;
            .product-img {
                margin-left: 50px;
            }

            width: 280px;
            height: 340px;
            border: 1px solid rgba(0, 0, 0, 0.125);
            background-color: #fff;

            .product-title {
                text-align: center;
                font-size: 16px;
                font-family: 'Merriweather', serif;
                font-weight: 500;
                padding-bottom: 20px;
            }
            .product-amountInBox {
                position: absolute;
                top: 40px;
                font-size: 14px;
                right: 15px;
                color: #6c757d;
            }
            .product-computed {
                display: flex;
                justify-content: space-evenly;

                .product-add {
                    display: flex;

                    padding-top: 20px;
                    margin-left: -0px;
                    align-items: center;

                    .product-minus {
                        width: 40px;
                        height: 28px;
                        background-color: #f2ede7;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        text-align: center;
                    }
                    .product-minus:hover {
                        background-color: #eb5a1e;
                        cursor: pointer;
                        transition: 0.7s all;
                    }

                    .product-amount {
                        width: 40px;
                        height: 28px;
                        text-align: center;
                        background-color: #f2ede7;
                    }
                    .product-plus {
                        width: 40px;
                        height: 28px;
                        text-align: center;
                        background-color: #f2ede7;
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    .product-plus:hover {
                        background-color: #eb5a1e;
                        cursor: pointer;
                        transition: 0.7s all;
                    }
                }

                .product-info {
                    padding-top: 10px;

                    .product-gramm {
                        font-size: 12px;
                        color: #434444;
                    }
                    .product-price {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
            .btn {
                margin-top: 10px;
                border: 1px solid #eb5a1e;
                padding: 8px 14px;
                border-radius: 5px;
                margin-left: 36px;
                width: 205px;
                font-size: 16px;
                color: #eb5a1e;
                background-color: #fff;
            }

            .btn:hover {
                background-color: #eb5a1e;
                cursor: pointer;
                color: #fff;
                transition: 0.5s all;
            }
        }
    }
}

@media screen and (max-width: 980px) {
    .header {
        .fixed-overlay {
            .modal {
                position: absolute;
                left: 38%;
                top: 30%;
                margin-left: -100px;
                margin-top: -75px;
                border-radius: 30px;
                .modal_container {
                }
            }
        }
    }

    .wrapper {
        .container {
            width: 780px;
            margin: 0 auto;
        }
    }
    .menu {
        width: 700px;
        margin: 0 auto;
        .products {
            display: flex;

            justify-content: space-around;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 780px) {
    .wrapper {
        .container {
            width: 700px;
            margin: 0 auto;
        }
    }
    .menu {
        padding-bottom: 100px;

        .products {
            width: 580px;
            display: flex;
            justify-content: center;
            align-items: center;

            .product-item {
                width: 200px;
                height: 260px;

                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.125);
                background-color: #fff;
                .product-img {
                    width: 100px;
                    margin-left: 50px;
                }
                .product-title {
                    text-align: center;
                    font-size: 14px;
                    font-family: 'Merriweather', serif;
                    font-weight: 500;
                    padding-bottom: 20px;
                }
                .product-amountInBox {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    font-size: 14px;
                    right: 15px;
                    color: #6c757d;
                }
                .product-computed {
                    .product-add {
                        .product-minus {
                            width: 30px;
                            height: 25px;
                        }
                        .product-amount {
                            width: 30px;
                            height: 25px;
                        }
                        .product-plus {
                            width: 30px;
                            height: 25px;
                        }
                    }
                    .product-info {
                        padding-top: 10px;

                        .product-gramm {
                            font-size: 13px;
                            color: #434444;
                        }
                        .product-price {
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
                .btn {
                    margin-top: 15px;
                    border: 1px solid #eb5a1e;
                    padding: 8px 14px;
                    border-radius: 5px;
                    margin-left: 23px;
                    width: 150px;
                    font-size: 16px;
                    color: #eb5a1e;
                    background-color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .header {
        .fixed-overlay {
            .modal {
                position: absolute;
                left: 35%;
                top: 30%;
                margin-left: -100px;
                margin-top: -75px;
                border-radius: 30px;
                .modal_container {
                }
            }
        }
    }
    .wrapper {
        .container {
            width: 500px;
            margin: 0 auto;
        }
    }
    .menu {
        width: 500px;
        padding-bottom: 100px;

        .products {
            margin: 0;
            width: 500px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .product-item {
                width: 200px;
                height: 260px;

                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.125);
                background-color: #fff;
                .product-img {
                    width: 100px;
                    margin-left: 50px;
                }
                .product-title {
                    text-align: center;
                    font-size: 14px;
                    font-family: 'Merriweather', serif;
                    font-weight: 500;
                    padding-bottom: 20px;
                }
                .product-amountInBox {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    font-size: 14px;
                    right: 15px;
                    color: #6c757d;
                }
                .product-computed {
                    .product-add {
                        .product-minus {
                            width: 30px;
                            height: 25px;
                        }
                        .product-amount {
                            width: 30px;
                            height: 25px;
                        }
                        .product-plus {
                            width: 30px;
                            height: 25px;
                        }
                    }
                    .product-info {
                        padding-top: 10px;

                        .product-gramm {
                            font-size: 13px;
                            color: #434444;
                        }
                        .product-price {
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
                .btn {
                    margin-top: 15px;
                    border: 1px solid #eb5a1e;
                    padding: 8px 14px;
                    border-radius: 5px;
                    margin-left: 23px;
                    width: 150px;
                    font-size: 16px;
                    color: #eb5a1e;
                    background-color: #fff;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .header {
        .fixed-overlay {
            .modal {
                position: absolute;
                left: 33%;
                top: 30%;
                margin-left: -100px;
                margin-top: -75px;
                border-radius: 30px;
                .modal_container {
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        .fixed-overlay {
            .modal {
                position: absolute;
                left: 37%;
                top: 30%;
                margin-left: -100px;
                margin-top: -75px;
                border-radius: 30px;
                .modal_container {
                    width: 260px;

                    .contacts {
                        .inp {
                            width: 208px;
                            font-size: 16px;
                            padding: 12px 12px;
                            background-color: #fff;
                            border: 1px solid #e2e3e5;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }

    .wrapper {
        .container {
            width: 300px;
            margin: 0 auto;
        }
    }
    .menu {
        width: 300px;
        padding-bottom: 100px;

        .products {
            margin: 0;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .product-item {
                width: 200px;
                height: 260px;

                position: relative;
                border: 1px solid rgba(0, 0, 0, 0.125);
                background-color: #fff;
                .product-img {
                    width: 100px;
                    margin-left: 50px;
                }
                .product-title {
                    text-align: center;
                    font-size: 14px;
                    font-family: 'Merriweather', serif;
                    font-weight: 500;
                    padding-bottom: 20px;
                }
                .product-amountInBox {
                    position: absolute;
                    top: 10px;
                    left: 15px;
                    font-size: 14px;
                    right: 15px;
                    color: #6c757d;
                }
                .product-computed {
                    .product-add {
                        .product-minus {
                            width: 30px;
                            height: 25px;
                        }
                        .product-amount {
                            width: 30px;
                            height: 25px;
                        }
                        .product-plus {
                            width: 30px;
                            height: 25px;
                        }
                    }
                    .product-info {
                        padding-top: 10px;

                        .product-gramm {
                            font-size: 13px;
                            color: #434444;
                        }
                        .product-price {
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }
                }
                .btn {
                    margin-top: 15px;
                    border: 1px solid #eb5a1e;
                    padding: 8px 14px;
                    border-radius: 5px;
                    margin-left: 23px;
                    width: 150px;
                    font-size: 16px;
                    color: #eb5a1e;
                    background-color: #fff;
                }
            }
        }
    }

    .intro-wd {
        width: 300px;
        margin: 0 auto;
        .intro {
            padding-top: 120px;
            padding-bottom: 90px;
            text-align: center;

            .intro-logo {
                width: 82px;
                height: 82px;
            }

            .intro-tilte {
                font-family: 'Merriweather', serif;
                font-weight: 300;
                letter-spacing: 0.7px;
                font-size: 30px;
            }
            .intro-desr {
                position: relative;
                padding-top: 8px;
                font-size: 18px;
                font-family: 'Merriweather', serif;
                letter-spacing: 1px;
            }
        }
    }
}
